* {
    margin: 0px;
    padding: 0px;
}

#cabecalho {
    width: 1000px;
    display: flex;
    background-color: blue;
    position: fixed;
    left: 50%;
    margin-left: -500px;
    /* justify-content: center; */
}

#titulo {
    position: relative;
    text-align: left;
    background-color: khaki;
    width: 33.33%;
    margin-left: 0px;
}

nav ul li {
    display: inline;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    transition: all 300ms ease-in-out;
    color: red;
    text-shadow: 1px 1px 2px black;
}

#menu {
    position: relative;
    text-align: center;
    width: 33.33%;
    background-color: lawngreen;
}

#social-media {
    position: relative;
    text-align: right;
    width: 33.33%;
    background-color: red;
}

#facebook {
    background-size: 30px;
    background-image: url(img/social_media/facebook.png);
}

#facebook:hover {
    background-size: 30px;
    background-image: url(img/social_media/facebook1.png);
}

#instagram {
    background-size: 30px;
    background-image: url(img/social_media/instagram.png);
}

#instagram:hover {
    background-size: 30px;
    background-image: url(img/social_media/instagram1.png);
}

#twitter {
    background-size: 30px;
    background-image: url(img/social_media/twitter.png);
}

#twitter:hover {
    transition: 1s ease-in-out;
    background-size: 30px;
    background-image: url(img/social_media/twitter1.png);
}

#github {
    background-size: 30px;
    background-image: url(img/social_media/github.png);
}

#github:hover {
    background-size: 30px;
    background-image: url(img/social_media/github1.png);
}

main {
    padding: 50px 10px 10px 0px;
    background-color: rosybrown;
    max-width: 1000px;
    margin: auto;
    text-align: justify;
}

footer {
    /* display: inline-flex;*/
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-small;
    background-color: brown;
    /* position: absolute; */
    /* width: 260px; */
    /* left: 50%;
    margin-left: -130px; */
}

#freepik {
    background-color: aqua;
    text-align: center;
}