* {
    margin: 0px;
    padding: 0px;
}

header {
    border: 3px solid black;
    max-width: auto;
    margin: auto;
}

#cabecalho {
    width: 1000px;
    display: flex;
    background-color: blue;
    justify-content: center;
    position: fixed;
}

nav ul li {
    display: inline;
    list-style: none;
}

#titulo {
    display: flex;
    background-color: khaki;
}

#menu {
    background-color: lawngreen;
}

#social-media {
    align-items: right;
    background-color: red;
}

#facebook {
    background-size: 30px;
    background-image: url(img/social_media/facebook.png);
}

#facebook:hover {
    background-size: 30px;
    background-image: url(img/social_media/facebook1.png);
}

#instagram {
    background-size: 30px;
    background-image: url(img/social_media/instagram.png);
}

#instagram:hover {
    background-size: 30px;
    background-image: url(img/social_media/instagram1.png);
}

#twitter {
    background-size: 30px;
    background-image: url(img/social_media/twitter.png);
}

#twitter:hover {
    background-size: 30px;
    background-image: url(img/social_media/twitter1.png);
}

#github {
    background-size: 30px;
    background-image: url(img/social_media/github.png);
}

#github:hover {
    background-size: 30px;
    background-image: url(img/social_media/github1.png);
}

main {
    padding: 50px 10px 10px 0px;
    background-color: rosybrown;
    max-width: 1000px;
    margin: auto;
    text-align: justify;
}

footer {
    /* display: inline-flex;*/
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-small;
    background-color: brown;
    /* position: absolute; */
    /* width: 260px; */
    /* left: 50%;
    margin-left: -130px; */
}

#freepik {
    background-color: aqua;
    text-align: center;
}