body {
    font-family: Arial;
    background: slategray;
}

header h1 {
    text-align: center;
    color: white;
}

section {
    background: white;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border-radius: 5%;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.7);
}

section .dados {
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 20px 0px 0px 0px;
}

section .dados p .num {
    width: 100px;
}

section .dados p .botao {
    display: block;
    margin: 20px auto;
}

section .resultado {
    background-size: cover;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 100%;
}

section .resultado .tabuada {
    min-width: 200px;
    width: auto;
    height: 235px;
    margin: 0px 25px;
}

footer p {
    margin: 20px;
    font-style: italic;
    text-align: center;
    color: white;
}